{% extends "lol/layout.html" %}

{% block title %}
leaderboards_lol

{% endblock %}


{% block content %}
<div>
    <div class="container leaderboards-content">
        <h1>LOL Leaderboards</h1>
        <table class="table">
            <thead>
                <tr>
                    <!-- <th scope="col">#</th> -->
                    <th class="leaderboards-rank-column" scope="col">Rank</th>
                    <th class="leaderboards-player-data-columns" scope="col">Player</th>
                    <!-- <th scope="col">Tag Line</th> -->
                    <th class="leaderboards-player-data-columns" scope="col">Tier</th>
                    <th class="leaderboards-player-data-columns" scope="col">Rank</th>
                    <th class="leaderboards-player-data-columns" scope="col">League Points</th>
                    <!-- <th scope="col">Wins</th> -->
                    <!-- <th scope="col">Losses</th> -->
                    <th class="leaderboards-player-data-columns" scope="col">Matches Played</th>
                    <th class="leaderboards-player-data-columns" scope="col">Win %</th>
                    <!-- <th scope="col">Tier</th> -->
                </tr>
            </thead>
            <tbody>
                {% for player in leaderboard_data %}
                <tr>
                    <!-- <th scope="row">{{ forloop.counter }}</th> -->
                    <th scope="row">{{ forloop.counter }}</th>
                    <td >{{ player.summonerName }}</td>
                    <!-- <td>{{ player.tagLine }}</td> -->
                    <td >{{ player.tier }}</td>
                    <td >{{ player.rank }}</td>
                    <td >{{ player.leaguePoints }}</td>
                    <!-- <td>{{ player.wins }}</td> -->
                    <!-- <td>{{ player.losses }}</td> -->
                    <td >{{ player.matchesPlayed }}</td>
                    <td >{{ player.winPercentage }}</td>
                    <!-- <td>{{ player.competitiveTier }}</td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}