{% extends "freelo_app/layout.html" %}
{% load static %}
{% block title %}
landing_freelo_app
{% endblock %}

{% block content %}
<div>
    <h1 class="header">
        landing_freelo_app.html
    </h1>

    <div>
        <div>
            <a href="{% url 'landing_lol' %}" class="subheader">
                <img class="landing-page-icon" src="{% static 'freelo_app/lol-192x192.png' %}" alt="lol-icon" />
            </a>

            <a href="{% url 'landing_val' %}" class="subheader">
                <img class="landing-page-icon" src="{% static 'freelo_app/val-192x192.png' %}" alt="val-icon" />
            </a>
        </div>
    </div>
</div>
{% endblock %}