{% extends "val/layout.html" %}

{% block title %}
leaderboards_val

{% endblock %}


{% block content %}
<div>
    <div class="container leaderboards-content">
        <h1>VAL Leaderboards</h1>
        <table class="table">
            <thead>
                <tr>
                    <!-- <th scope="col">#</th> -->
                    <th class="leaderboards-rank-column" scope="col">Rank</th>
                    <th class="leaderboards-player-data-columns" scope="col">Player</th>
                    <th class="leaderboards-player-data-columns" scope="col">Tag</th>
                    <th class="leaderboards-player-data-columns" scope="col">Ranked Rating</th>
                    <th class="leaderboards-player-data-columns" scope="col">Tier</th>
                    <th class="leaderboards-player-data-columns" scope="col">Wins</th>
                </tr>
            </thead>
            <tbody>
                {% for player in leaderboard_data %}
                <tr>
                    <!-- <th scope="row">{{ forloop.counter }}</th> -->
                    <th>{{ player.leaderboardRank }}</th>
                    <td>{{ player.gameName }}</td>
                    <td>#{{ player.tagLine }}</td>
                    <td>{{ player.rankedRating }}</td>
                    <td>{{ player.competitiveTier }}</td>
                    <td>{{ player.numberOfWins }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    
</div>

{% endblock %}